.presentation{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    article{
        width: 50%;
        display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 50px;
    padding: 30px;
    color: $couleur_deux;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 7px 7px 15px rgb(233 79 55 / 50%) ;
    z-index: 3;
    }
    h2{
        font-size: 36px;
        z-index: 3;
    }
    p{
        text-align: justify;
        z-index: 3;
       }
}