#pagecv {

    header {
        background-color: $couleur_trois;
        color: $couleur_deux;
        height: 100px;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 3fr;

        h1 {
            grid-column: 2/3;
            align-self: center;
            justify-self: center;
            grid-row: 1;
            margin: 0;
            color: $couleur_un;
        }

        h2 {
            grid-column: 1/2;
            grid-row: 1;
            align-self: center;
            justify-self: center;
        }
    }

    main {
        display: flex;
        min-height: calc(100vh - 100px);

        #informationetsoftskills:first-child {
            section {
                margin-top: 15px;
            }
        }

        #informationetsoftskills {
            min-height: calc(100vh - 100px);
            flex-grow: 1;
            display: flex;
            flex-flow: column;
            align-items: center;
            gap: 20px;
            background-color: $couleur_un;
            color: $couleur_deux;

            section {
                h2 {
                    text-align: center;
                    margin-bottom: 30px;
                    color: $couleur_trois;
                }
            }

            ul {
                list-style: none;
                display: flex;
                flex-flow: column;
                align-items: center;
                gap: 10px;
            }
        }
        p{
            em,strong{
                display: block;
            }
        }


        article {
            flex-grow: 3;
            display: flex;
            flex-flow: column;
            gap: 30px;

            #experiences {
                display: grid;
                grid-template-areas:
                    "h2 h2"
                    "gauche droit ";

                h2 {
                    margin: 15px 0 20px 0px;
                    grid-area: h2;
                    justify-self: center;
                }

                dl {
                    justify-self: center;
                    grid-area: gauche;
                    display: flex;
                    flex-flow: column;
                    gap: 10px;
                    dd ul{
                        list-style: none;
                        
                    }
                }

                .droit {
                    grid-area: droit;
                    justify-self: center;
                    display: flex;
                    flex-flow: column;
                    gap: 10px;
                }
            }

            #formations {
                display: grid;
                grid-template-areas:
                    "h2 h2"
                    "gauche droit ";

                h2 {
                    margin-bottom: 20px;
                    grid-area: h2;
                    justify-self: center;
                }

                .gauche {

                    grid-area: gauche;
                    justify-self: center;
                    display: flex;
                    flex-flow: column;
                    gap: 10px;
                    
                }

                .droit {
                    grid-area: droit;
                    justify-self: center;
                    display: flex;
                    flex-flow: column;
                    gap: 10px;
                }
            }

            footer {
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 50px;
                    list-style: none;
                    font-size: 36px;

                    .fa-github {
                        color: black;
                    }

                    .fa-linkedin {
                        color: #0e76a8
                    }
                }
            }
        }
    }

}

@media screen and (max-width:500px) {
    #pagecv main article {

        #experiences {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        #formations {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
    }
}