#pageportefolio {
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.5)) no-repeat,
        url(../img/night.jpg) no-repeat top/cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .portfolio {
        display: flex;
        min-width: 300px;
        gap: 10px;
        width: 100%;
        max-width: 1000px;
        height: 80%;
    }

    #projetUn {
        background: url(../img/cv.png) left/cover;
    }
    #projetDeux {
        background: url(../img/illustration.png) center/cover;
    }
    #projetTrois {
        background: url(../img/ducsman.png) left top/cover;
    }
    
    #projetQuatre {
        background: url(../img/night.jpg) center/cover;
    }

    .image {
        width: 60px;
        cursor: pointer;
        transition: .5s ease-out;
        overflow: hidden;
        position: relative;
    }

    .image.active {
        flex-grow: 100;
        max-width: 800px;
        margin: 0px;
        border-radius: 7px;
        background-size: auto 100%;
    }

    .image:not(.active) {
        flex-grow: 1;
        border-radius: 5px;
    }

    .text-container {
        width: 100%;
        height: 100%;
        visibility: hidden;
        transform: translateY(300px);
        opacity: 0;
        transition: all .5s ease;
        background: linear-gradient(354deg, black 0%, transparent 72%);
        color: white;
        overflow: hidden;
    }

    .text {
        position: absolute;
        bottom: 20px;
        left: 10px;
        display: flex;
        flex-flow: column;
        gap: 20px;
        h2{
            margin-bottom: 10px;
        }
        p{
            text-align: justify;
        }
        a{
            color: inherit;
        }
    }

    .active .text-container {
        visibility: visible;
        transform: translateY(0px);
        opacity: 1;
    }
@media screen and (max-width:1120px) {

    #pageportefolio {
        .reseaux {
            display: none;
        }
    }
}
